<div class="top_about_img"></div>
<div class="about-main">
  <div class="container">
    <div class="container-blur"></div>
    <div class="about">
        <img src="owner.jpg" alt="owner" class="profile-image" />
      <div class="name">
        加茂　竜弥
      </div>
      <div class="biography">
        <h2>目標</h2>
        <p>私は将来、フルスタックなエンジニアになることをひとつの目標としております。<br>この目標に向け、最近では仕事終わりの時間を使い、Progateで毎日コツコツとRubyをはじめとする言語を学んでいます。<br>エンジニアとして世で活躍できるような存在になるため、これからも一歩ずつ成長していく所存です。</p>
      </div>
      <div class="skill">
        <h2>資格</h2>
        <div>
            第一種普通自動車運転免許（2019年11月）<br>
            普通自動二輪車免許 (2020年8月)<br>
            ITパスポート（2021年8月）<br>
        </div>
        <h2>スキル</h2>
        <div>
        <h3>大学</h3>
        java, C, C#, Unity
        </div>
        <div>
          <h3>会社での経験</h3>
          Laravel, html, css, php, WordPress(サイト構築, フォーム作成など)<br>
          仕様書
          <ul>
            <li>基本設計（機能一覧、画面一覧、画面遷移図）</li>
            <li>詳細設計（DBテーブル設計）</li>
          </ul>
          </div>
        <div>
          <h3>Progate独学</h3>
          html&css, Ruby, Ruby on Rails, Git, GitHub, コマンドライン
        </div>
        <div class="
        ">
            現在閲覧いただいているサイトは全て、Ruby on Railsで開発されたものになります。<br>ポートフォリオページの他に、実際に動くインスタグラムを模したアプリケーションをご用意していますので、よろしければご覧ください。

        </div>
      </div>
      <div class="hobby">
        <h2>趣味など</h2>
        <div>
          カメラ, DJ, ピアノ, ギター, イラスト作成
        </div>
        <div class="small-cont">
            特にカメラは大学時代から利用しておりまして、このHPにて使用している写真は全て私が撮影したものになります。<br>
            そのほかの作品などはInstagramにて掲載していますのでよろしければご覧ください。<br>
        </div>
      </div>
    </div>
  </div>
</div>