<div class="top_main_img"></div>
  <div class="top_main">
  <div class="top-message">
    <br>
    <h2>Welcome to my portfolio</h2>
    <%= link_to("/about", {class: "btn bgleft"})do %>
    <span>加茂竜弥について詳しく</span>
    <% end %>
  </div>
</div>
