<div class="main posts-new">
    <div class="container">
        <h1 class="form-heading">投稿フォーム</h1>
        <%= form_tag("/photos/create", {multipart: true}) do %>
            <div class="form">
                <div class="form-body">
                    <% @photo.errors.full_messages.each do |message| %>
                        <div class="form-error">
                            <%= message %>
                        </div>
                    <% end %>
                    <p>写真</p>
                    <input name="image" type="file">
                    <p>説明</p>
                    <textarea name="content"><%= @photo.content %></textarea>
                    <input type="submit" value="投稿">
                </div>
            </div>
        <% end %>
    </div>
</div>